@use "../utils" as u;

/* Style Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  @include u.margin("xxs");
  @include u.fontSize("sm");
  @include u.lineHeight("md");
  @include u.color("black", "light");
  @include u.backgroundColor("white", "dark");
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

pre {
  display: block;
  overflow: auto;
  @include u.color("black", "light");
  @include u.margin("md");
}
