@use "../utils" as u;

/* Style Button */
%button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.btn {
    @extend %button;
}

@each $colorName, $colorCode in u.$colors {
    .btn-#{$colorName} {
        @extend %button;
        color: u.colorContrast($colorCode);
        border: #{$colorCode};
        background-color: #{$colorCode};
    }
}
