@use "../utils" as u;

/* Style Form */
[hidden] {
    display: none !important;
}
label {
    @include u.marginBottom("xs");
}

%form {
    display: block;
    width: 100%;
    appearance: none;
    background-clip: padding-box;
    @include u.paddingVertical("xs");
    @include u.paddingHorizontal("sm");
    @include u.border("thin", "solid", "light");
    @include u.borderRadius("md");

    &:not(:disabled):not(:read-only) {
        cursor: pointer;
    }

    &:disabled,
    &:read-only {
        opacity: 1;
        @include u.backgroundColor("white", "dark");
    }

    &:focus {
        outline: 0;
        @include u.borderColor("blue", "light");
    }
}

%placeholder {
    opacity: 1;
    @include u.color("gray", "dark");
}

input {
    @extend %form;

    &[type="file"] {
        overflow: hidden;
    }

    &::placeholder {
        @extend %placeholder;
    }

    &::file-selector-button {
        opacity: 1;
    }
}

select {
    @extend %form;
}

textarea {
    resize: vertical;
    @extend %form;

    &::placeholder {
        @extend %placeholder;
    }
}

.form {
    &-text {
        @include u.marginTop("sm");
        @include u.fontSize("xs");
        @include u.color("gray", "light");
    }
}
