@use "../utils" as u;

/* Style Text */
%text {
    @include u.paddingTop("xxs");
    @include u.paddingBottom("md");
}

p {
    @extend %text;
}

a {
    @extend %text;
    text-decoration: underline;
    @include u.color("blue");

    &:hover {
        @include u.color("blue", "dark");
    }

    &:not([href]),
    &:not([href]):hover {
        color: inherit;
        text-decoration: none;
    }
}

label {
    @extend %text;
    display: inline-block;
}

%h {
    @include u.lineHeight("sm");
}

h1,
.h1 {
    @extend %text;
    @extend %h;
    @include u.fontSize("xxxl");
}

h2,
.h2 {
    @extend %text;
    @extend %h;
    @include u.fontSize("xxl");
}

h3,
.h3 {
    @extend %text;
    @extend %h;
    @include u.fontSize("xl");
}

h4,
.h4 {
    @extend %text;
    @extend %h;
    @include u.fontSize("lg");
}

h5,
.h5 {
    @extend %text;
    @extend %h;
    @include u.fontSize("md");
}

h6,
.h6 {
    @extend %text;
    @extend %h;
    @include u.fontSize("sm");
}
